.DrinkMaker-container {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.DrinkMaker-content {
  width: 80%;
}

.content-ingredients {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  background-color: #3a434f;
  padding: 2em;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.content-item {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.content-tools {
  padding: 10px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

input[type='number'] {
  width: 30%;
  padding: 0 5px;
  color: #fff;
  background-color: #4c5969;
  border: none;
  font-weight: bold;
  display: flex;
  height: 30px;
  font-size: 13pt;
  margin-bottom: 11px;
  align-self: center;
}

.DrinkMaker-radios {
  display: flex;
  background-color: #3a434f;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  margin: 1em;
  padding: 0 10px;
}

.DrinkMaker-title {
  font-size: 11pt;
}
